@charset "utf-8";

html,body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
.content{
    max-width: 940px;
    margin: auto;
}
.btn-primary{
    background:#0E6248 !important;
    border-color: #0E6248 !important;
}
/*HERO*/

/*--------------------------------------*/
/*QUICK INFO*/

/*--------------------------------------*/

/*--WHAT WE DO--*/
.btn-whatwedo{
    width: 200px;
    height: 40px;
    margin-right: -20px !important;
}
#whatwedo h5 {
    font-size: 18px;
}
.img-whatwedo{
    margin-right: -20px !important;
    margin-left: 20px !important;
    margin-top: -20px !important;
}
.card-whatwedo{
    width: 280px !important;
    margin-top: 75px !important;
}
/*--------------------------------------*/

/*--STATS DONATION BENEFITS--*/

/*--------------------------------------*/

/*--GALERIE IMAGE--*/

/*--------------------------------------*/

/*--FORMULAIRE--*/

/*--------------------------------------*/

/*--BECOME PARTNER--*/

/*--------------------------------------*/

/*--NEWSLETTER--*/

/*--------------------------------------*/

/*--FOOTER--*/

/*--------------------------------------*/

@media (max-width: 375px){
    /*HERO*/

/*--------------------------------------*/    
/*QUICK INFO*/

/*--------------------------------------*/

/*--WHAT WE DO--*/
.img-whatwedo{
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: -20px !important;
}
/*--------------------------------------*/

/*--STATS DONATION BENEFITS--*/

/*--------------------------------------*/

/*--GALERIE IMAGE--*/

/*--------------------------------------*/

/*--FORMULAIRE--*/

/*--------------------------------------*/

/*--BECOME PARTNER--*/

/*--------------------------------------*/

/*--NEWSLETTER--*/

/*--------------------------------------*/

/*--FOOTER--*/

/*--------------------------------------*/
}