@charset "utf-8";

html,body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
[class*="col-"] {
    padding: 0 !important;
}
.content{
    max-width: 940px;
    margin: auto;
}
.btn-primary{
    background:#0E6248 !important;
    border-color: #0E6248 !important;
}
/*HERO*/

/*--------------------------------------*/
/*QUICK INFO*/

/*--------------------------------------*/

/*--WHAT WE DO--*/
.btn-whatwedo{
    width: 200px;
    height: 40px;
    margin-right: -20px !important;
}
#whatwedo h5 {
    font-size: 18px;
}
#whatwedo p {
    font-size: 16px;
}
.img-whatwedo{
    margin-right: -20px !important;
    margin-left: 20px !important;
    margin-top: -20px !important;
}
.card-whatwedo{
    width: 280px !important;
    margin-top: 75px !important;
}
/*--------------------------------------*/

/*--STATS DONATION BENEFITS--*/
#statistiques{
    margin-top: 120px !important;
    background-color:  #FBF8F6;
    color: #272727;
    height: 128px !important;
}
/*--------------------------------------*/

/*--GALERIE IMAGE--*/

/*--------------------------------------*/

/*--FORMULAIRE--*/
#formulaire{
    margin-top: 118px !important;
}
/*--------------------------------------*/

/*--BECOME PARTNER--*/
#reading_ressources{

}
/*--------------------------------------*/

/*--NEWSLETTER--*/

/*--------------------------------------*/

/*--FOOTER--*/

/*--------------------------------------*/

@media (max-width: 375px){
    .content{
        max-width: 100%;
        margin: auto;
    }
    /*HERO*/

/*--------------------------------------*/    
/*QUICK INFO*/

/*--------------------------------------*/

/*--WHAT WE DO--*/
.btn-whatwedo{
    width: 90%;
    margin-right: 0px !important;
}
.card-whatwedo{
    width: 100% !important;
    margin-top: 75px !important;
}
.img-whatwedo{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

/*--------------------------------------*/

/*--STATS DONATION BENEFITS--*/
#statistiques{
    margin-top: 120px !important;
    background-color:  #FBF8F6;
    color: #272727;
    height: 100% !important;
}
/*--------------------------------------*/

/*--GALERIE IMAGE--*/

/*--------------------------------------*/

/*--FORMULAIRE--*/

/*--------------------------------------*/

/*--BECOME PARTNER--*/

/*--------------------------------------*/

/*--NEWSLETTER--*/

/*--------------------------------------*/

/*--FOOTER--*/

/*--------------------------------------*/
}